body {
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: x-large;
}
ul {
    max-width: 300px;
    margin: auto;
    text-align: left;
}
#main {
    margin: auto;
    border: 1px;
    
    background-color: rgb(224, 211, 224);
}
#header{
    padding-top: 20px;
}
#title {
    margin: auto;
}
#img-div {
   background-color: rgb(232, 238, 237);
   padding: 10px;
   margin: 0;
}
#img-caption {
    margin-top: 10px;
    margin-bottom: 5px;
}
#image {
    display:block;
    margin: auto;
    height: auto;
    max-width: 100%;
}
#tribute-info {
    display: block;
    margin: auto;
}